/* Reset styling */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #444;
}

/* Project-specific styling */

.app {
  padding: 2.4rem;
}

.row {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100%;
  padding: 2.4rem;
  border: 1px solid #AAA;
  border-radius: 1.2rem;
}

.heading {
  width: 100%;
  margin-bottom: 2.4rem;
}

.units div {
  margin: 0.8rem;
  margin-left: 0;
  padding: 0.8rem;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border-radius: 0.4rem;
}