
h2 {
  font-size: 3.2rem;
}

p {
  margin-top: 2.4rem;
  font-size: 2.4rem;
}

ul {
  margin: 2.4rem 0;
  padding-left: 3.2rem;
}

.list-type .kannada ul {
  list-style-type: kannada;
}

.list-type .decimal ul {
  list-style-type: decimal;
}

.list-type .square ul {
  list-style-type: square;
}

.list-type .dash ul {
  list-style-type: '-';
}

.list-type .combination ul {
  list-style-type: '|=> ';
}

.bullet-position .inside ul {
  margin-left: 2.4rem;
  padding-left: 0;
  list-style-position: inside;
  list-style-type: upper-roman;
}

.bullet-position .outside ul {
  margin-left: 2.4rem;
  padding-left: 0;
  list-style-position: outside;
  list-style-type: upper-roman;
}