/* Reset styling */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #444;
}

/* Project-specific styling */

.app {
  display: flex;
  flex-flow: row wrap;
  padding: 1.6rem;
}

.box {
  width: 25.6rem;
  height: 25.6rem;
  padding: 1.6rem;
  border: 1px solid #999;
  border-radius: 1.6rem;
}

.box p:first-child {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  color: #888;
}