/* Reset styling */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #444;
}

/* Project-specific styling */

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2.4rem;
  padding: 2.4rem;
  min-height: calc(100vh - 2 * 2.4rem);
}

.row {
  width: 100%;
  padding: 2.4rem;
  border: 1px solid #888;
}

.heading {
  margin-bottom: 2.2rem;
  font-size: 3.2rem;
}

.first-of-type p:first-of-type {
  font-weight: bold;
}