/* Reset styling */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #444;
}

/* Project-specific styling */

.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1.6rem;
}

.box {
  inline-size: 25.6rem;
  block-size: 25.6rem;
  margin: 1.2rem;
  padding: 1.6rem;
  border: 4px solid #AAA;
  border-block-start: 4px solid red;
  border-inline-end: 4px solid blue;
  border-radius: 1.6rem;
}

.heading {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  color: #888;
}