
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 2.4rem;

}

.row {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  padding: 1.6rem;
  padding-top: 0;
}

.heading {
  width: 100%;
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.section {
  padding: 1.6rem;
}

.subheading {
  font-size: 2.4rem;
}