* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
}

.app {
  width: 100%;
  padding: 2.4rem;
}

h1 {
  color: red;
}

h1 + p {
  font-size: 200%;
}

li {
  list-style-type: square;
}

li em {
  color: rebeccapurple;
}

.special {
  color: orange;
  font-weight: bold;
}

p span {
  color: red;
}