.card {
  display: flex;
  flex-flow: column nowrap;
  width: 400px;
  margin: 64px;
  padding: 16px;
  padding-bottom: 24px;
  border: 1px solid #DDD;
  border-radius: 12px;
  box-shadow: 0 4px 15px #DDD;
  transition: transform 250ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: rotate(5deg) scale(1.05);
}

.card img {
  width: 100%;
  margin-bottom: 24px;
}

.card figcaption {
  font-size: 24px;
  text-align: center;
}