
.example .box {
  width: 200px;
  height: 200px;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  background-color: indigo;
  border-radius: 1.2rem;
  float: left;
}

.example p {
  margin-bottom: 1.2rem;
}

.background .box {
  width: 200px;
  height: 200px;
  margin: 1.2rem;
  background-color: indigo;
  border-radius: 1.2rem;
  float: left;
}

.background p {
  margin-bottom: 1.2rem;
}

.background p:first-of-type {
  background-color: #CCC;
}

.clear .box {
  width: 200px;
  height: 200px;
  margin-bottom: 1.2rem;
  background-color: indigo;
  border-radius: 1.2rem;
}

.clear .box--first {
  margin-right: 1.2rem;
  float: left;
}

.clear .box--second {
  height: 400px;
  margin-left: 1.2rem;
  float: right;
}

.clear p {
  margin-bottom: 1.2rem;
}

.clear p:nth-of-type(3) {
  clear: left;
}