* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  display: flex;
  width: 100%;
}

.app {
  width: 100%;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 1.6rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}