/* Reset styling */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #444;
}

/* Project-specific styling */

.combinator {
  margin: 2.4rem;
  padding: 2.4rem;
  border: 1px solid #888;
}

/* Descendant selector (space) */
.combinator p {
  margin-top: 1.6rem;
  color: #AAA;
}

.combinator p span {
  color: #444;
}