/* Reset styling */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #444;
}

/* Project-specific styling */

.combinator {
  margin: 2.4rem;
  padding: 2.4rem;
  border: 1px solid #888;
}

.combinator p {
  margin-top: 1.6rem;
}

/* Descendant selector (space) */

.descendant p {
  color: #AAA;
}

.descendant p span {
  color: #444;
}

/* Child combinator */

.child-combinator > p {
  background-color: #444;
  color: white;
}

/* Adjacent sibling combinator */

.adjacent-sibling-combinator h1 + p {
  padding: 2.4rem;
  background-color: #444;
  color: white;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.adjacent-sibling-combinator h1 + p + p {
  font-weight: 700;
  color: blue;
}

.adjacent-sibling-combinator div + span {
  display: block;
  border: 1px solid #888;
  padding: 2.4rem;
}

.adjacent-sibling-combinator h1 + div {
  border: 5px solid red; /* No effect because div is not h1's direct sibling */
}

/* General sibling combinator */

.general-sibling-combinator h1 ~ div {
  padding: 1.6rem;
  margin-top: 1.6rem;
  border: 1px solid #888;
}

.general-sibling-combinator div ~ p {
  color: #888;
  font-weight: 700;
}