/* Reset styling */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  color: #222;
}

/* Project-specific styling */

.app {
  padding: 3.2rem;
}

.box {
  background-color: #444;
}

.box p {
  margin: 5rem;
  background-color: #888;
}